@import "../../_style-var";
.app{

        background-color: #fcfcfc;

}

@media( min-aspect-ratio: 1/1){
        .app{
             display: grid;
             grid-template-columns: 20vw 1fr;   
        }
}