@import "../../_style-var";
.app{

        background-color: #fcfcfc;

}

@media( min-aspect-ratio: 10/9) and (min-width: 768px){
        .app{
             display: grid;
             grid-template-columns:  fit-content(300px) 1fr;   
        }
}